<a href="https://colab.research.google.com/github/mariajessica-garcia/CPEN-21A-ECE-2-1/blob/main/Demo1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Intro to Python Programming

In [6]:
#Python Indentation
if 5>2:
  print("five is greater than two")

five is greater than two

In [7]:
##Python Variable:
x=1
a, b=0, 1
a,b,c="zero","one","two"
print(x)
print(a)
print(b)
print(c)

1
zero
one
two

In [8]:
d="Maria" #This is a string
D="Jessica"
print(d)
e="Meri"
print(e)
print(D)

Maria
Meri
Jessica

In [10]:
print(type(d)) #This is a type function
print(type(x))

<class 'str'>
<class 'int'>

##Casting

In [18]:
f=float(4)
print(f)
g=float(5)
g=int(5)
print(g)

4.0
5

##Multiple Variables in One Value

In [12]:
x=y=z="four"
print(x)
print(y)
print(z)

four
four
four

In [13]:
x="enjoying"
print("Python Programming is" " " + x)

Python Programming is enjoying

##Operation in Python

In [14]:
x=5
y=7
x+= y #This is the same as x = x + y
print(x+y)
print(x*y)
print(x)

19
84
12

In [15]:
x=5
y=7

not(x>y or y==x)

True

In [17]:
x is not y

True

In [16]:
x is y

False